<?xml version="1.0" encoding="UTF-8"?>
<suite name= "Automation Test">
    <test name="Testcases">
       
    <classes>
        
        <class name="com.main.test.SignUpTest"/>
      <class name="com.main.test.ProfileAssertion"/>
      <class name="com.main.test.ClicktoImageComparison"/>
      <class name="com.main.test.LoginTest"/>
       
       
    </classes>
    
    </test>
    
</suite>